# Database Configuration
DATABASE_URL="postgresql://postgres:password123@localhost:5432/society_db?schema=public"

# App Options
PORT=3000
NODE_ENV=development

# JWT Secrets
JWT_ACCESS_SECRET="your_jwt_access_secret_should_be_long_and_secure"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_should_be_long_and_secure"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# S3 Compatible Storage (Minio in development, AWS S3/Cloudflare R2 in production)
STORAGE_PROVIDER=local # local | s3
STORAGE_LOCAL_PATH="./uploads"
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadminpassword"
S3_BUCKET_NAME="society-documents"
S3_REGION="us-east-1"

# Web Config
NEXT_PUBLIC_API_URL="http://localhost:3000/api/v1"

# Mobile Config
EXPO_PUBLIC_API_URL="http://localhost:3000/api/v1"
